scikit-learn
imbalanced-learn
numpy
pandas
librosa
matplotlib
seaborn
scipy
torch
torchaudio
tensorboard
plotly
fastapi
uvicorn
python-multipart
python-jose
passlib
bcrypt
pydantic
locust
streamlit
jupyter
notebook
ipykernel
tqdm